LogicApps/CopyVideos.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_block_blob": {
                "inputs": {
                    "body": "@triggerBody()",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/codeless/CreateBlockBlob",
                    "queries": {
                        "folderPath": "/videos",
                        "name": "@base64ToString(triggerOutputs()['headers']['x-ms-file-name-encoded'])"
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "HTTP": {
                "inputs": {
                    "body": {
                        "body": "New video file found in Onedrive and uploaded: @{base64ToString(triggerOutputs()['headers']['x-ms-file-name-encoded'])}",
                        "channel": "WordsOfTheDay",
                        "title": "Video file uploaded"
                    },
                    "headers": {
                        "x-functions-key": "CfPYAamajXsaZQiFOk3CaLxFnDEKThXDnt86NWimMi5O2Gw8yeIK/Q=="
                    },
                    "method": "POST",
                    "uri": "https://notificationsendpoint.azurewebsites.net/api/send"
                },
                "runAfter": {
                    "Create_block_blob": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTP_2": {
                "inputs": {
                    "body": {
                        "body": "Error with video file found in Onedrive: @{base64ToString(triggerOutputs()['headers']['x-ms-file-name-encoded'])}",
                        "channel": "WordsOfTheDay",
                        "title": "Video file NOT uploaded"
                    },
                    "headers": {
                        "x-functions-key": "CfPYAamajXsaZQiFOk3CaLxFnDEKThXDnt86NWimMi5O2Gw8yeIK/Q=="
                    },
                    "method": "POST",
                    "uri": "https://notificationsendpoint.azurewebsites.net/api/send"
                },
                "runAfter": {
                    "Create_block_blob": [
                        "Failed",
                        "Skipped",
                        "TimedOut"
                    ]
                },
                "type": "Http"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_file_is_created": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onedrive']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/triggers/onnewfilev2",
                    "queries": {
                        "folderId": "FB0D8F97004979CD!881222",
                        "includeSubfolders": false,
                        "inferContentType": true,
                        "simulate": false
                    }
                },
                "metadata": {
                    "FB0D8F97004979CD!881222": "/Documents/Microsoft/2020/Words%20of%20the%20Day/_Output/With Captions"
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 15
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/6e69cf24-0859-4dec-84e2-695e2618e473/resourceGroups/wordsoftheday/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/6e69cf24-0859-4dec-84e2-695e2618e473/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
                },
                "onedrive": {
                    "connectionId": "/subscriptions/6e69cf24-0859-4dec-84e2-695e2618e473/resourceGroups/wordsoftheday/providers/Microsoft.Web/connections/onedrive",
                    "connectionName": "onedrive",
                    "id": "/subscriptions/6e69cf24-0859-4dec-84e2-695e2618e473/providers/Microsoft.Web/locations/westeurope/managedApis/onedrive"
                }
            }
        }
    }
}