LogicApps/SubmitNewTopic.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "inputs": {
                    "shortdescription": "@{variables('Description')}",
                    "submitteremail": "@{variables('SubmitterEmail')}",
                    "submittergithub": "@variables('SubmitterGithub')",
                    "submittername": "@{variables('SubmitterName')}",
                    "submittertwitter": "@{variables('SubmitterTwitter')}",
                    "suggestions": "@{variables('Suggestions')}",
                    "term": "@{variables('Term')}"
                },
                "runAfter": {
                    "Initialize_variable_7": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Get_response_details": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['microsoftforms']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/formapi/api/forms('@{encodeURIComponent('v4j5cvGGr0GRqy180BHbRyVhoZSeh6FBjFgMDVI5re9URDBKV1lHNkRYS1JTR0xTRjNUODBOODJWQy4u')}')/responses",
                    "queries": {
                        "response_id": "@triggerBody()?['resourceData']?['responseId']"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "HTTP": {
                "inputs": {
                    "body": "@outputs('Compose')",
                    "headers": {
                        "x-functions-key": "dABxrU7nM7lbebsLLp58zuFsY0F9TeEQ2MdkQDvCQQaccHW9hUml3A=="
                    },
                    "method": "POST",
                    "uri": "http://dc0f755d259f.ngrok.io/api/add-new"
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTP_2": {
                "inputs": {
                    "body": {
                        "body": "A new term was submitted by @{variables('SubmitterEmail')}: @{variables('Term')}",
                        "channel": "MSGlossary",
                        "title": "New term submitted"
                    },
                    "headers": {
                        "x-functions-key": "CfPYAamajXsaZQiFOk3CaLxFnDEKThXDnt86NWimMi5O2Gw8yeIK/Q=="
                    },
                    "method": "POST",
                    "uri": "https://notificationsendpoint.azurewebsites.net/api/send"
                },
                "runAfter": {
                    "Send_an_email_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTP_3": {
                "inputs": {
                    "body": {
                        "body": "An error happened on new term submitted by @{variables('SubmitterEmail')}: @{variables('Term')}",
                        "channel": "MSGlossary",
                        "title": "Error with new term"
                    },
                    "headers": {
                        "x-functions-key": "CfPYAamajXsaZQiFOk3CaLxFnDEKThXDnt86NWimMi5O2Gw8yeIK/Q=="
                    },
                    "method": "POST",
                    "uri": "https://notificationsendpoint.azurewebsites.net/api/send"
                },
                "runAfter": {
                    "Send_an_email_(V2)_2": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTP_4": {
                "inputs": {
                    "body": {
                        "body": "An error happened on new term submitted by @{variables('SubmitterEmail')}: @{variables('Term')}",
                        "channel": "MSGlossary",
                        "title": "Error with new term"
                    },
                    "headers": {
                        "x-functions-key": "CfPYAamajXsaZQiFOk3CaLxFnDEKThXDnt86NWimMi5O2Gw8yeIK/Q=="
                    },
                    "method": "POST",
                    "uri": "https://notificationsendpoint.azurewebsites.net/api/send"
                },
                "runAfter": {
                    "Send_an_email_(V2)_3": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SubmitterName",
                            "type": "string",
                            "value": "@body('Get_response_details')?['r67076393da1440d49a0e20d12516d1a9']"
                        }
                    ]
                },
                "runAfter": {
                    "Get_response_details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SubmitterTwitter",
                            "type": "string",
                            "value": "@body('Get_response_details')?['r3a51f04a2587472c903688778835bffe']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_6": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_3": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Term",
                            "type": "string",
                            "value": "@body('Get_response_details')?['rcaecb1d331984615b0456c93a5235ffa']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_5": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_4": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Description",
                            "type": "string",
                            "value": "@body('Get_response_details')?['r46ea1f89309e4a2185e25fee32497f12']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_3": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_5": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SubmitterGithub",
                            "type": "string",
                            "value": "@body('Get_response_details')?['rf46f3efb9b5640268970c7f8805ec338']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_6": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SubmitterEmail",
                            "type": "string",
                            "value": "@body('Get_response_details')?['r7e3957f18d58443b9d79218065f4ad7b']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_7": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Suggestions",
                            "type": "string",
                            "value": "@body('Get_response_details')?['rad7ca908f9ab49fa8c0f4fb407c192e9']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_4": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "properties": {
                            "filename": {
                                "type": "string"
                            },
                            "ref": {
                                "type": "string"
                            },
                            "shortdescription": {
                                "type": "string"
                            },
                            "submitteremail": {
                                "type": "string"
                            },
                            "submittername": {
                                "type": "string"
                            },
                            "submittertwitter": {
                                "type": "string"
                            },
                            "term": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Send_an_email_(V2)": {
                "inputs": {
                    "body": {
                        "Body": "<p>Thank you for submitting a new term to the Microsoft Glossary. We need your action now:<br>\n<br>\n<strong>Please check the \"Getting started\" instructions here</strong>:<br>\nhttp://aka.ms/glossary/getting-started<br>\n<br>\n<strong>You can edit the Synopsis here</strong>: https://www.ms-glossary-synopsis.cloud?edit=@{body('Parse_JSON')?['filename']}<br>\n<br>\nIn case of doubt, please reply to this email and we will assist you.<br>\n<br>\nThanks again!!<br>\nLaurent<br>\n<br>\nName: @{variables('SubmitterName')}<br>\nEmail: @{variables('SubmitterEmail')}<br>\nTwitter: @{variables('SubmitterTwitter')}<br>\nGitHub: @{variables('SubmitterGithub')}<br>\nTerm: @{variables('Term')}<br>\nDescription: @{variables('Description')}<br>\nSuggestions: @{variables('Suggestions')}<br>\nSubmitted at: @{body('Get_response_details')?['submitDate']}</p>",
                        "Subject": "ACTION NEEDED: Thanks for submitting to the Microsoft Glossary",
                        "To": "@{variables('SubmitterEmail')}; lbugnion@microsoft.com"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_an_email_(V2)_2": {
                "inputs": {
                    "body": {
                        "Body": "<p>Thank you for submitting a new term to the Microsoft Glossary. There was a small problem with your submission but don't worry, your input is saved!<br>\n<br>\nWe will contact you after we check what the issue was, so we can resolve it together.<br>\n<br>\nTake care!<br>\nLaurent</p>",
                        "Subject": "PLEASE NOTE: Issue with your Microsoft Glossary submission",
                        "To": "@{variables('SubmitterEmail')}; lbugnion@microsoft.com"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "HTTP": [
                        "Failed",
                        "Skipped",
                        "TimedOut"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_an_email_(V2)_3": {
                "inputs": {
                    "body": {
                        "Body": "<p>Thank you for submitting a new term to the Microsoft Glossary. There was a small problem with your submission but don't worry, your input is saved!<br>\n<br>\nWe will contact you after we check what the issue was, so we can resolve it together.<br>\n<br>\nTake care!<br>\nLaurent</p>",
                        "Subject": "PLEASE NOTE: Issue with your Microsoft Glossary submission",
                        "To": "@{variables('SubmitterEmail')}; lbugnion@microsoft.com"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Failed",
                        "Skipped",
                        "TimedOut"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_response_is_submitted": {
                "inputs": {
                    "body": {
                        "eventType": "responseAdded",
                        "notificationUrl": "@{listCallbackUrl()}",
                        "source": "ms-connector"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['microsoftforms']['connectionId']"
                        }
                    },
                    "path": "/formapi/api/forms/@{encodeURIComponent('v4j5cvGGr0GRqy180BHbRyVhoZSeh6FBjFgMDVI5re9URDBKV1lHNkRYS1JTR0xTRjNUODBOODJWQy4u')}/webhooks"
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "microsoftforms": {
                    "connectionId": "/subscriptions/6e69cf24-0859-4dec-84e2-695e2618e473/resourceGroups/msglossary/providers/Microsoft.Web/connections/microsoftforms",
                    "connectionName": "microsoftforms",
                    "id": "/subscriptions/6e69cf24-0859-4dec-84e2-695e2618e473/providers/Microsoft.Web/locations/westeurope/managedApis/microsoftforms"
                },
                "office365": {
                    "connectionId": "/subscriptions/6e69cf24-0859-4dec-84e2-695e2618e473/resourceGroups/msglossary/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/6e69cf24-0859-4dec-84e2-695e2618e473/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
                }
            }
        }
    }
}